@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --color: #ffbb00;
    --hover: #ffea00;
    --footer-color: #ffbb00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000;
    height: 100vh;
    background-position: relative;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.section-p1 {
    padding: 40px 80px;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

.coming-soon {
    margin: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coming-soon h1 {
    font-size: 3rem;
}