header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.08);
    height: 90px;
    padding: 0px 80px;
    z-index: 999;
    top: 0;
    left: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    margin: 0 auto;
    height: 20px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--hover);
}

#navbar li a.active:after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: var(--hover);
    position: absolute;
    bottom: -3px;
    left: 22px;
}

#mobile {
    display: none;
    align-items: center;
}

#close-btn {
    display: none;
}

@media screen and (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px;
        padding: 80px 0 0 10px;
        transition: 0.3s ease;
    }

    #navbar.navbar-active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile span {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        cursor: pointer;
    }

    #close-btn {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
        display: flex;
    }
}

@media screen  and (max-width:477px){
    
}