header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.08);
    height: 90px;
    padding: 0px 80px;
    z-index: 999;
    top: 0;
    left: 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    margin: 0 auto;
    height: 20px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--hover);
}

#navbar li a.active:after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: var(--hover);
    position: absolute;
    bottom: -3px;
    left: 22px;
}

#mobile {
    display: none;
    align-items: center;
    position: relative;
}

#sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    padding: 15px;
    background: linear-gradient(to right, purple, blue);
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid white;
    font-weight: 500;
}

